/* Custom style */

.salita {
	margin-left: 1px;
	margin-right: 2px;
}

a.noline {
	text-decoration:none;
}

.babakonti {
	padding-top:1%;
}

.wagbaba {
	margin-bottom:0px;
}

.navleftkonti {
	/*margin-left:10%;*/
	border-right: 1px solid #1a70bb;
}

.bakbodybaba {
	background-color:#FFFFFF;
	border-radius:5px;
	box-shadow: 2px 2px 3px #888888;
	padding:10px;
	margin-bottom:8px;
	/*border-top-right-radius: 0;
	border-bottom-right-radius: 0;*/
}

.bakbody {
	background-color:#E0E0E0;
	border-radius:7px;
	box-shadow: 4px 4px 5px #888888;
	padding:10px;
	margin-bottom:8px;
	margin-top: 10%;
	/*border-top-right-radius: 0;
	border-bottom-right-radius: 0;*/
}

.bakbodyabout {
  box-shadow: 1px 1px 1px #888888;
  padding:10px;
  margin-bottom:8px;
  margin-top: 20px;
  /*border-top-right-radius: 0;
  border-bottom-right-radius: 0;*/
}

.bakbodys {
	padding:10px;
	margin-bottom:8px;
	box-shadow: 1px 1px 1px #888888;
	max-height:550px;

	/*border-top-right-radius: 0;
	border-bottom-right-radius: 0;*/
}

.bakbodys img {
	height:auto;
	width:100%;
}

.dilaw {
	background-color:#3288B1;
	color:#000000;
	box-shadow: 4px 4px 5px #747474;
	z-index: 999;
max-width: 80%;
margin-left: 10%;
}

.ownresp {
	height: auto;
	max-width: 80%;
}

.ownfoo {
	padding-top: 20px;
	/*padding-left: 30px;
	padding-right: 30px;*/
	color:#ffffff;
	text-align:center;
}

.ownfoo2 {	
	color:#696969;
	text-align:center;
	padding: 10px 0 10px 0;
}

.forgotpop {
	display: none;
	position:absolute;
	padding:10px;
	text-align:center;
	background-color:#E0E0E0;
	border-radius:3px;
	z-index:100;
}

.kontingspace {
	margin-top: 5px;
}

.forgotpad {
	padding-left: 27.8%;
  margin-top: 5px;
}

.forgotpadleft {
  padding-left: 25px;
}

.center-table {
  margin: 0 auto !important;
  float: none !important;
}

.widthreset {
  width:300px;
}

.loggeduserspace {
  margin-top: 20px;
  padding-left: 70%;
}

.insdiv {
  /*width:500px;
  margin-left:10%;*/
  padding: 10%;
}

.gitnaka {
  text-align:center;
}

.kananka {
  text-align:right;
  padding-right: 30px;
}

.owntb {
   border-collapse:collapse;
   width: 100%;
   /*margin-left: 15%;*/
   border-spacing: 10px;
   border: solid 1px #000000;
}
.owntb td {
  padding-left: 15px;
  border: solid 1px #000000;
  width: 50%;
}
.owntb tr {
   /*border-bottom: 1px solid #000;*/
   background-color:#f8f8f8;
}
.owntb tr.last {
   border-bottom: none;
}

.ownul {
  margin-top: 0;
  margin-bottom: 10px;
}

.ownul li {
  margin-top: 1px;
  margin-bottom: 1px;
}

.chcolor {
  border-color: rgb(53, 53, 53);
}

.otextn {
  text-align:justify;
  font-size: 13px;
}


/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  min-height: 60px;
  background-color: #000000;
  margin-bottom:0px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  /*padding: 60px 15px 0;*/
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

/* Register CSS */

.dubody {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.kaliwakonti {
	margin-left: 10%;
}

.form-signin input {
  margin-bottom: 10px;
  /*border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;*/
}

.input {
  color:green;
}

.inputco {
  color:green;
  font-weight:bold;
}

.kasarian {
  text-align:left;
}

.btn-likha {
  width:200px;
}

/* End of register CSS */

.mwidth {
	max-width:100%;
}


.rslides {
  margin: 0 auto;
  }

.rslides_container {
  /*margin-bottom: 50px;*/
  position: relative;
  float: left;
width: 80%;
margin-left: 10%;
  }

.centered-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.centered-btns_nav:active {
  opacity: 1.0;
  }

.centered-btns_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

.transparent-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 0;
  left: 0;
  display: block;
  background: #fff; /* Fix for IE6-9 */
  opacity: 0;
  filter: alpha(opacity=1);
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%;
  }

.transparent-btns_nav.next {
  left: auto;
  right: 0;
  }

.large-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000 url("themes.gif") no-repeat left 50%;
  width: 38px;
  }


.transparent-btns_nav:focus{
  outline: none;
  }


.transparent-btns_tabs {
  margin-top: 10px;
  text-align: center;
  }

.transparent-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }

.transparent-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
  }

.transparent-btns_here a {
  background: #222;
  background: rgba(0,0,0, .8);
  }

.ownimghcont {
	background-image: url("../images/header2.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
	height: 300px;
	width:100%;
}

.ownimghcontins {
  background-image: url("../images/traffic.png");
  background-repeat:no-repeat;
  background-size:100% 100%;
  height: 300px;
  width:100%;
}

/***************************************************************/
.navbar-nav li {
	border-left: 1px solid #2698ce;
	border-right: 1px solid #1a70bb;

}
.navbar-nav li a {
	color: #FFFFFF !important;
}
.navbar-nav li:hover,.navleftkonti:hover {
	background: rgb(73,155,234); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(73,155,234,1)), color-stop(100%,rgba(32,124,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */
}
.nav_selected {
	background: rgb(73,155,234); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(73,155,234,1)), color-stop(100%,rgba(32,124,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */
}
.dropdown-menu li {
	background:white;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;

}
.dropdown-menu li a {
	color: #454545 !important;
}
/***************************************************************/

/****************** Confirmation CSS ***************************/

.confbtn {
  margin-top: 4px;
}

.gor {
  float:right;
}

.confbakbody {
  /*background-color:#E8E8E8;
  border-radius:7px;*/
  box-shadow: 1px 1px 1px #888888;
  padding:10px;
  margin-bottom:8px;
  margin-top: 5%;
}

.msmol {
  height: 20px !important;
  font-size: 14px !important;
  line-height: 14px !important;
  padding:2px !important;
}

.ownformc {
  padding: 5px;
  position: relative;
  display: block;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.ownwidtwenty {
  width: 20%;
}

.ownwidforti {
  width: 40%;
}

.ownwidpibti {
  width: 50%;
}

.ownwidhandred {
  width: 100%;
}

.conf1 {
  background-color:#E8E8E8;
  padding:10px;
}

.conf2 {
  width:100%
}

.conf3 {
  float:left;
  width:50%;
  padding-right:10px;
}

.conf4 {
  float:left;
  width:50%;
  padding-left:10px;
}

.conf5 {
  border:solid 1px #E8E8E8
}

/****************** End of Confirmation CSS ********************/