/****************** Confirmation CSS ***************************/

/* Retina display */
@media screen and (min-width: 1024px){
  .conf9 {
    float:left;
    width:33%;
    padding-right:10px;
    padding-bottom: 10px;
  }

  .conf10 {
    float:left;
    width:33%;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 10px;
  }

  .conf11 {
    float:left;
    width:33%;
    padding-left:10px;
    padding-bottom: 10px;
  }
}
/* Desktop */
@media screen and (min-width: 980px) and (max-width: 1024px){
  .conf9 {
    width:33%;
    padding-right:10px;
    padding-bottom: 10px;
  }

  .conf10 {
    width:33%;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 10px;
  }

  .conf11 {
    width:33%;
    padding-left:10px;
    padding-bottom: 10px;
  }
}
/* Tablet */
@media screen and (min-width: 760px) and (max-width: 980px){
  .conf9 {
    width:33%;
    padding-right:10px;
    padding-bottom: 10px;
  }

  .conf10 {
    width:33%;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 10px;
  }

  .conf11 {
    width:33%;
    padding-left:10px;
    padding-bottom: 10px;
  }
}
/* Mobile HD */
@media screen and (min-width: 350px) and (max-width: 760px){
  .conf9 {
    width:100%;
    padding-bottom: 10px;
  }

  .conf10 {
    width:100%;
    padding-bottom: 10px;
  }

  .conf11 {
    width:100%;
    padding-bottom: 10px;
  }
}
/* Mobile LD */
@media screen and (max-width: 350px){
  .conf9 {
    width:100%;
    padding-bottom: 10px;
  }

  .conf10 {
    width:100%;
    padding-bottom: 10px;
  }

  .conf11 {
    width:100%;
    padding-bottom: 10px;
  }
}

/****************** End of Confirmation CSS ********************/